Data Wrangling

In [5]:
import pandas as pd

In [6]:
train_titanic=pd.read_csv("./titanic/train.csv")

In [7]:
train_titanic.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.0,0,0,PC 17475,26.2875,E24,S

In [8]:
train_titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
train_titanic.shape

(891, 12)

In [10]:
train_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
train_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
train_titanic.iloc[1:7]
df=train_titanic

You want to select DataFrame rows based on some condition.

In [13]:
df[df['Sex']=='female'].sample(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
697,698,1,3,"Mullens, Miss. Katherine ""Katie""",female,NaN,0,0,35852,7.7333,NaN,Q
610,611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.0,1,5,347082,31.2750,NaN,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,0,2,315153,22.0250,NaN,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
328,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1,1,363291,20.5250,NaN,S
290,291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0,0,0,19877,78.8500,NaN,S

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [16]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [17]:
df["Survived"].unique()

array([0, 1])

In [18]:
df["Pclass"].unique()

array([3, 1, 2])

In [19]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [20]:
temp_df=df
temp_df["Sex"]=df["Sex"].replace("male","men")

In [21]:
temp_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",men,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",men,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",men,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",men,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",men,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
temp_df["Sex"].value_counts()

Sex
men       577
female    314
Name: count, dtype: int64

In [23]:
# only male
df.groupby("Sex").mean(numeric_only=True)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Sex,,,,,,,
female,431.028662,0.742038,2.159236,27.915709,0.694268,0.649682,44.479818
men,454.147314,0.188908,2.389948,30.726645,0.429809,0.235702,25.523893

Handling numeric data

In [24]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()

In [30]:
print(df['Fare'].values)

[  7.25    71.2833   7.925   53.1      8.05     8.4583  51.8625  21.075
  11.1333  30.0708  16.7     26.55     8.05    31.275    7.8542  16.
  29.125   13.      18.       7.225   26.      13.       8.0292  35.5
  21.075   31.3875   7.225  263.       7.8792   7.8958  27.7208 146.5208
   7.75    10.5     82.1708  52.       7.2292   8.05    18.      11.2417
   9.475   21.       7.8958  41.5792   7.8792   8.05    15.5      7.75
  21.6792  17.8     39.6875   7.8     76.7292  26.      61.9792  35.5
  10.5      7.2292  27.75    46.9      7.2292  80.      83.475   27.9
  27.7208  15.2458  10.5      8.1583   7.925    8.6625  10.5     46.9
  73.5     14.4542  56.4958   7.65     7.8958   8.05    29.      12.475
   9.       9.5      7.7875  47.1     10.5     15.85    34.375    8.05
 263.       8.05     8.05     7.8542  61.175   20.575    7.25     8.05
  34.6542  63.3583  23.      26.       7.8958   7.8958  77.2875   8.6542
   7.925    7.8958   7.65     7.775    7.8958  24.15    52.      14.4542
   8.05     9.825   14.4583   7.925    7.75    21.     247.5208  31.275
  73.5      8.05    30.0708  13.      77.2875  11.2417   7.75     7.1417
  22.3583   6.975    7.8958   7.05    14.5     26.      13.      15.0458
  26.2833  53.1      9.2167  79.2     15.2458   7.75    15.85     6.75
  11.5     36.75     7.7958  34.375   26.      13.      12.525   66.6
   8.05    14.5      7.3125  61.3792   7.7333   8.05     8.6625  69.55
  16.1     15.75     7.775    8.6625  39.6875  20.525   55.      27.9
  25.925   56.4958  33.5     29.125   11.1333   7.925   30.6958   7.8542
  25.4667  28.7125  13.       0.      69.55    15.05    31.3875  39.
  22.025   50.      15.5     26.55    15.5      7.8958  13.      13.
   7.8542  26.      27.7208 146.5208   7.75     8.4042   7.75    13.
   9.5     69.55     6.4958   7.225    8.05    10.4625  15.85    18.7875
   7.75    31.       7.05    21.       7.25    13.       7.75   113.275
   7.925   27.      76.2917  10.5      8.05    13.       8.05     7.8958
  90.       9.35    10.5      7.25    13.      25.4667  83.475    7.775
  13.5     31.3875  10.5      7.55    26.      26.25    10.5     12.275
  14.4542  15.5     10.5      7.125    7.225   90.       7.775   14.5
  52.5542  26.       7.25    10.4625  26.55    16.1     20.2125  15.2458
  79.2     86.5    512.3292  26.       7.75    31.3875  79.65     0.
   7.75    10.5     39.6875   7.775  153.4625 135.6333  31.       0.
  19.5     29.7      7.75    77.9583   7.75     0.      29.125   20.25
   7.75     7.8542   9.5      8.05    26.       8.6625   9.5      7.8958
  13.       7.75    78.85    91.0792  12.875    8.85     7.8958  27.7208
   7.2292 151.55    30.5    247.5208   7.75    23.25     0.      12.35
   8.05   151.55   110.8833 108.9     24.      56.9292  83.1583 262.375
  26.       7.8958  26.25     7.8542  26.      14.     164.8667 134.5
   7.25     7.8958  12.35    29.      69.55   135.6333   6.2375  13.
  20.525   57.9792  23.25    28.5    153.4625  18.     133.65     7.8958
  66.6    134.5      8.05    35.5     26.     263.      13.      13.
  13.      13.      13.      16.1     15.9      8.6625   9.225   35.
   7.2292  17.8      7.225    9.5     55.      13.       7.8792   7.8792
  27.9     27.7208  14.4542   7.05    15.5      7.25    75.25     7.2292
   7.75    69.3     55.4417   6.4958   8.05   135.6333  21.075   82.1708
   7.25   211.5      4.0125   7.775  227.525   15.7417   7.925   52.
   7.8958  73.5     46.9     13.       7.7292  12.     120.       7.7958
   7.925  113.275   16.7      7.7958   7.8542  26.      10.5     12.65
   7.925    8.05     9.825   15.85     8.6625  21.       7.75    18.75
   7.775   25.4667   7.8958   6.8583  90.       0.       7.925    8.05
  32.5     13.      13.      24.15     7.8958   7.7333   7.875   14.4
  20.2125   7.25    26.      26.       7.75     8.05    26.55    16.1
  26.       7.125   55.9    120.      34.375   18.75   263.      10.5
  26.25     9.5      7.775   13.       8.1125  81.8583  19.5     26.55
  19.2583  30.5     27.75    19.9667  27.75    89.1042   8.05     7.8958
  26.55    51.8625  10.5      7.75    26.55     8.05    38.5     13.
   8.05     7.05     0.      26.55     7.725   19.2583   7.25     8.6625
  27.75    13.7917   9.8375  52.      21.       7.0458   7.5208  12.2875
  46.9      0.       8.05     9.5875  91.0792  25.4667  90.      29.7
   8.05    15.9     19.9667   7.25    30.5     49.5042   8.05    14.4583
  78.2667  15.1    151.55     7.7958   8.6625   7.75     7.6292   9.5875
  86.5    108.9     26.      26.55    22.525   56.4958   7.75     8.05
  26.2875  59.4      7.4958  34.0208  10.5     24.15    26.       7.8958
  93.5      7.8958   7.225   57.9792   7.2292   7.75    10.5    221.7792
   7.925   11.5     26.       7.2292   7.2292  22.3583   8.6625  26.25
  26.55   106.425   14.5     49.5     71.      31.275   31.275   26.
 106.425   26.      26.      13.8625  20.525   36.75   110.8833  26.
   7.8292   7.225    7.775   26.55    39.6    227.525   79.65    17.4
   7.75     7.8958  13.5      8.05     8.05    24.15     7.8958  21.075
   7.2292   7.8542  10.5     51.4792  26.3875   7.75     8.05    14.5
  13.      55.9     14.4583   7.925   30.     110.8833  26.      40.125
   8.7125  79.65    15.      79.2      8.05     8.05     7.125   78.2667
   7.25     7.75    26.      24.15    33.       0.       7.225   56.9292
  27.       7.8958  42.4      8.05    26.55    15.55     7.8958  30.5
  41.5792 153.4625  31.275    7.05    15.5      7.75     8.05    65.
  14.4     16.1     39.      10.5     14.4542  52.5542  15.7417   7.8542
  16.1     32.3208  12.35    77.9583   7.8958   7.7333  30.       7.0542
  30.5      0.      27.9     13.       7.925   26.25    39.6875  16.1
   7.8542  69.3     27.9     56.4958  19.2583  76.7292   7.8958  35.5
   7.55     7.55     7.8958  23.       8.4333   7.8292   6.75    73.5
   7.8958  15.5     13.     113.275  133.65     7.225   25.5875   7.4958
   7.925   73.5     13.       7.775    8.05    52.      39.      52.
  10.5     13.       0.       7.775    8.05     9.8417  46.9    512.3292
   8.1375  76.7292   9.225   46.9     39.      41.5792  39.6875  10.1708
   7.7958 211.3375  57.      13.4167  56.4958   7.225   26.55    13.5
   8.05     7.7333 110.8833   7.65   227.525   26.2875  14.4542   7.7417
   7.8542  26.      13.5     26.2875 151.55    15.2458  49.5042  26.55
  52.       9.4833  13.       7.65   227.525   10.5     15.5      7.775
  33.       7.0542  13.      13.      53.1      8.6625  21.       7.7375
  26.       7.925  211.3375  18.7875   0.      13.      13.      16.1
  34.375  512.3292   7.8958   7.8958  30.      78.85   262.375   16.1
   7.925   71.      20.25    13.      53.1      7.75    23.      12.475
   9.5      7.8958  65.      14.5      7.7958  11.5      8.05    86.5
  14.5      7.125    7.2292 120.       7.775   77.9583  39.6      7.75
  24.15     8.3625   9.5      7.8542  10.5      7.225   23.       7.75
   7.75    12.475    7.7375 211.3375   7.2292  57.      30.      23.45
   7.05     7.25     7.4958  29.125   20.575   79.2      7.75    26.
  69.55    30.6958   7.8958  13.      25.9292   8.6833   7.2292  24.15
  13.      26.25   120.       8.5167   6.975    7.775    0.       7.775
  13.      53.1      7.8875  24.15    10.5     31.275    8.05     0.
   7.925   37.0042   6.45    27.9     93.5      8.6625   0.      12.475
  39.6875   6.95    56.4958  37.0042   7.75    80.      14.4542  18.75
   7.2292   7.8542   8.3     83.1583   8.6625   8.05    56.4958  29.7
   7.925   10.5     31.       6.4375   8.6625   7.55    69.55     7.8958
  33.      89.1042  31.275    7.775   15.2458  39.4     26.       9.35
 164.8667  26.55    19.2583   7.2292  14.1083  11.5     25.9292  69.55
  13.      13.      13.8583  50.4958   9.5     11.1333   7.8958  52.5542
   5.       9.      24.       7.225    9.8458   7.8958   7.8958  83.1583
  26.       7.8958  10.5167  10.5      7.05    29.125   13.      30.
  23.45    30.       7.75  ]

In [32]:

res=min_max.fit_transform(df['Fare'].values.reshape(-1,1))

In [33]:
res

array([[0.01415106],
       [0.13913574],
       [0.01546857],
       [0.1036443 ],
       [0.01571255],
       [0.0165095 ],
       [0.10122886],
       [0.04113566],
       [0.02173075],
       [0.05869429],
       [0.03259623],
       [0.05182215],
       [0.01571255],
       [0.06104473],
       [0.01533038],
       [0.03122992],
       [0.05684821],
       [0.02537431],
       [0.03513366],
       [0.01410226],
       [0.05074862],
       [0.02537431],
       [0.01567195],
       [0.06929139],
       [0.04113566],
       [0.06126432],
       [0.01410226],
       [0.51334181],
       [0.01537917],
       [0.01541158],
       [0.0541074 ],
       [0.28598956],
       [0.01512699],
       [0.02049464],
       [0.16038672],
       [0.10149724],
       [0.01411046],
       [0.01571255],
       [0.03513366],
       [0.02194234],
       [0.01849397],
       [0.04098927],
       [0.01541158],
       [0.08115719],
       [0.01537917],
       [0.01571255],
       [0.03025399],
       [0.01512699],
       [0.04231498],
       [0.03474329],
       [0.07746484],
       [0.01522459],
       [0.14976542],
       [0.05074862],
       [0.12097534],
       [0.06929139],
       [0.02049464],
       [0.01411046],
       [0.05416439],
       [0.0915427 ],
       [0.01411046],
       [0.1561496 ],
       [0.16293235],
       [0.05445717],
       [0.0541074 ],
       [0.02975782],
       [0.02049464],
       [0.01592394],
       [0.01546857],
       [0.01690807],
       [0.02049464],
       [0.0915427 ],
       [0.14346245],
       [0.02821272],
       [0.11027246],
       [0.01493181],
       [0.01541158],
       [0.01571255],
       [0.05660423],
       [0.02434958],
       [0.01756683],
       [0.01854277],
       [0.01520019],
       [0.09193308],
       [0.02049464],
       [0.03093714],
       [0.06709553],
       [0.01571255],
       [0.51334181],
       [0.01571255],
       [0.01571255],
       [0.01533038],
       [0.11940565],
       [0.04015973],
       [0.01415106],
       [0.01571255],
       [0.06764049],
       [0.12366717],
       [0.04489301],
       [0.05074862],
       [0.01541158],
       [0.01541158],
       [0.15085515],
       [0.01689187],
       [0.01546857],
       [0.01541158],
       [0.01493181],
       [0.01517579],
       [0.01541158],
       [0.04713766],
       [0.10149724],
       [0.02821272],
       [0.01571255],
       [0.01917712],
       [0.02822072],
       [0.01546857],
       [0.01512699],
       [0.04098927],
       [0.48312843],
       [0.06104473],
       [0.14346245],
       [0.01571255],
       [0.05869429],
       [0.02537431],
       [0.15085515],
       [0.02194234],
       [0.01512699],
       [0.01393967],
       [0.0436405 ],
       [0.01361429],
       [0.01541158],
       [0.01376068],
       [0.02830212],
       [0.05074862],
       [0.02537431],
       [0.02936745],
       [0.05130158],
       [0.1036443 ],
       [0.0179898 ],
       [0.1545881 ],
       [0.02975782],
       [0.01512699],
       [0.03093714],
       [0.01317512],
       [0.02244651],
       [0.07173122],
       [0.01521639],
       [0.06709553],
       [0.05074862],
       [0.02537431],
       [0.02444717],
       [0.12999454],
       [0.01571255],
       [0.02830212],
       [0.01427305],
       [0.11980422],
       [0.0150944 ],
       [0.01571255],
       [0.01690807],
       [0.13575256],
       [0.03142511],
       [0.03074195],
       [0.01517579],
       [0.01690807],
       [0.07746484],
       [0.04006213],
       [0.10735285],
       [0.05445717],
       [0.05060223],
       [0.11027246],
       [0.06538765],
       [0.05684821],
       [0.02173075],
       [0.01546857],
       [0.05991421],
       [0.01533038],
       [0.04970769],
       [0.05604307],
       [0.02537431],
       [0.        ],
       [0.13575256],
       [0.02937564],
       [0.06126432],
       [0.07612293],
       [0.04298994],
       [0.0975935 ],
       [0.03025399],
       [0.05182215],
       [0.03025399],
       [0.01541158],
       [0.02537431],
       [0.02537431],
       [0.01533038],
       [0.05074862],
       [0.0541074 ],
       [0.28598956],
       [0.01512699],
       [0.01640391],
       [0.01512699],
       [0.02537431],
       [0.01854277],
       [0.13575256],
       [0.01267896],
       [0.01410226],
       [0.01571255],
       [0.02042144],
       [0.03093714],
       [0.03667076],
       [0.01512699],
       [0.06050797],
       [0.01376068],
       [0.04098927],
       [0.01415106],
       [0.02537431],
       [0.01512699],
       [0.22109808],
       [0.01546857],
       [0.05270049],
       [0.14891148],
       [0.02049464],
       [0.01571255],
       [0.02537431],
       [0.01571255],
       [0.01541158],
       [0.1756683 ],
       [0.01824998],
       [0.02049464],
       [0.01415106],
       [0.02537431],
       [0.04970769],
       [0.16293235],
       [0.01517579],
       [0.02635025],
       [0.06126432],
       [0.02049464],
       [0.01473662],
       [0.05074862],
       [0.05123659],
       [0.02049464],
       [0.0239592 ],
       [0.02821272],
       [0.03025399],
       [0.02049464],
       [0.01390707],
       [0.01410226],
       [0.1756683 ],
       [0.01517579],
       [0.02830212],
       [0.10257897],
       [0.05074862],
       [0.01415106],
       [0.02042144],
       [0.05182215],
       [0.03142511],
       [0.03945217],
       [0.02975782],
       [0.1545881 ],
       [0.16883676],
       [1.        ],
       [0.05074862],
       [0.01512699],
       [0.06126432],
       [0.15546645],
       [0.        ],
       [0.01512699],
       [0.02049464],
       [0.07746484],
       [0.01517579],
       [0.29953885],
       [0.26473857],
       [0.06050797],
       [0.        ],
       [0.03806147],
       [0.05797054],
       [0.01512699],
       [0.15216447],
       [0.01512699],
       [0.        ],
       [0.05684821],
       [0.03952537],
       [0.01512699],
       [0.01533038],
       [0.01854277],
       [0.01571255],
       [0.05074862],
       [0.01690807],
       [0.01854277],
       [0.01541158],
       [0.02537431],
       [0.01512699],
       [0.15390495],
       [0.17777476],
       [0.02513033],
       [0.01727405],
       [0.01541158],
       [0.0541074 ],
       [0.01411046],
       [0.2958059 ],
       [0.05953204],
       [0.48312843],
       [0.01512699],
       [0.04538098],
       [0.        ],
       [0.02410559],
       [0.01571255],
       [0.2958059 ],
       [0.21642979],
       [0.21255864],
       [0.04684488],
       [0.1111184 ],
       [0.16231419],
       [0.51212189],
       [0.05074862],
       [0.01541158],
       [0.05123659],
       [0.01533038],
       [0.05074862],
       [0.02732618],
       [0.32179837],
       [0.26252652],
       [0.01415106],
       [0.01541158],
       [0.02410559],
       [0.05660423],
       [0.13575256],
       [0.26473857],
       [0.01217479],
       [0.02537431],
       [0.04006213],
       [0.11316786],
       [0.04538098],
       [0.0556283 ],
       [0.29953885],
       [0.03513366],
       [0.26086743],
       [0.01541158],
       [0.12999454],
       [0.26252652],
       [0.01571255],
       [0.06929139],
       [0.05074862],
       [0.51334181],
       [0.02537431],
       [0.02537431],
       [0.02537431],
       [0.02537431],
       [0.02537431],
       [0.03142511],
       [0.03103473],
       [0.01690807],
       [0.018006  ],
       [0.06831545],
       [0.01411046],
       [0.03474329],
       [0.01410226],
       [0.01854277],
       [0.10735285],
       [0.02537431],
       [0.01537917],
       [0.01537917],
       [0.05445717],
       [0.0541074 ],
       [0.02821272],
       [0.01376068],
       [0.03025399],
       [0.01415106],
       [0.14687822],
       [0.01411046],
       [0.01512699],
       [0.13526459],
       [0.10821499],
       [0.01267896],
       [0.01571255],
       [0.26473857],
       [0.04113566],
       [0.16038672],
       [0.01415106],
       [0.41282051],
       [0.00783188],
       [0.01517579],
       [0.44409922],
       [0.03072575],
       [0.01546857],
       [0.10149724],
       [0.01541158],
       [0.14346245],
       [0.0915427 ],
       [0.02537431],
       [0.01508639],
       [0.02342244],
       [0.2342244 ],
       [0.01521639],
       [0.01546857],
       [0.22109808],
       [0.03259623],
       [0.01521639],
       [0.01533038],
       [0.05074862],
       [0.02049464],
       [0.02469116],
       [0.01546857],
       [0.01571255],
       [0.01917712],
       [0.03093714],
       [0.01690807],
       [0.04098927],
       [0.01512699],
       [0.03659756],
       [0.01517579],
       [0.04970769],
       [0.01541158],
       [0.01338651],
       [0.1756683 ],
       [0.        ],
       [0.01546857],
       [0.01571255],
       [0.06343578],
       [0.02537431],
       [0.02537431],
       [0.04713766],
       [0.01541158],
       [0.0150944 ],
       [0.01537098],
       [0.02810693],
       [0.03945217],
       [0.01415106],
       [0.05074862],
       [0.05074862],
       [0.01512699],
       [0.01571255],
       [0.05182215],
       [0.03142511],
       [0.05074862],
       [0.01390707],
       [0.10910953],
       [0.2342244 ],
       [0.06709553],
       [0.03659756],
       [0.51334181],
       [0.02049464],
       [0.05123659],
       [0.01854277],
       [0.01517579],
       [0.02537431],
       [0.01583455],
       [0.15977676],
       [0.03806147],
       [0.05182215],
       [0.0375897 ],
       [0.05953204],
       [0.05416439],
       [0.0389724 ],
       [0.05416439],
       [0.17391982],
       [0.01571255],
       [0.01541158],
       [0.05182215],
       [0.10122886],
       [0.02049464],
       [0.01512699],
       [0.05182215],
       [0.01571255],
       [0.075147  ],
       [0.02537431],
       [0.01571255],
       [0.01376068],
       [0.        ],
       [0.05182215],
       [0.0150782 ],
       [0.0375897 ],
       [0.01415106],
       [0.01690807],
       [0.05416439],
       [0.02691961],
       [0.01920152],
       [0.10149724],
       [0.04098927],
       [0.01375249],
       [0.01467962],
       [0.0239836 ],
       [0.0915427 ],
       [0.        ],
       [0.01571255],
       [0.01871355],
       [0.17777476],
       [0.04970769],
       [0.1756683 ],
       [0.05797054],
       [0.01571255],
       [0.03103473],
       [0.0389724 ],
       [0.01415106],
       [0.05953204],
       [0.09662576],
       [0.01571255],
       [0.02822072],
       [0.15276642],
       [0.02947324],
       [0.2958059 ],
       [0.01521639],
       [0.01690807],
       [0.01512699],
       [0.01489121],
       [0.01871355],
       [0.16883676],
       [0.21255864],
       [0.05074862],
       [0.05182215],
       [0.04396587],
       [0.11027246],
       [0.01512699],
       [0.01571255],
       [0.05130978],
       [0.11594108],
       [0.01463083],
       [0.06640418],
       [0.02049464],
       [0.04713766],
       [0.05074862],
       [0.01541158],
       [0.18249985],
       [0.01541158],
       [0.01410226],
       [0.11316786],
       [0.01411046],
       [0.01512699],
       [0.02049464],
       [0.43288417],
       [0.01546857],
       [0.02244651],
       [0.05074862],
       [0.01411046],
       [0.01411046],
       [0.0436405 ],
       [0.01690807],
       [0.05123659],
       [0.05182215],
       [0.20772777],
       [0.02830212],
       [0.09661757],
       [0.13858277],
       [0.06104473],
       [0.06104473],
       [0.05074862],
       [0.20772777],
       [0.05074862],
       [0.05074862],
       [0.0270578 ],
       [0.04006213],
       [0.07173122],
       [0.21642979],
       [0.05074862],
       [0.01528158],
       [0.01410226],
       [0.01517579],
       [0.05182215],
       [0.07729405],
       [0.44409922],
       [0.15546645],
       [0.03396254],
       [0.01512699],
       [0.01541158],
       [0.02635025],
       [0.01571255],
       [0.01571255],
       [0.04713766],
       [0.01541158],
       [0.04113566],
       [0.01411046],
       [0.01533038],
       [0.02049464],
       [0.10048071],
       [0.05150497],
       [0.01512699],
       [0.01571255],
       [0.02830212],
       [0.02537431],
       [0.10910953],
       [0.02822072],
       [0.01546857],
       [0.0585561 ],
       [0.21642979],
       [0.05074862],
       [0.07831878],
       [0.01700567],
       [0.15546645],
       [0.02927805],
       [0.1545881 ],
       [0.01571255],
       [0.01571255],
       [0.01390707],
       [0.15276642],
       [0.01415106],
       [0.01512699],
       [0.05074862],
       [0.04713766],
       [0.06441171],
       [0.        ],
       [0.01410226],
       [0.1111184 ],
       [0.05270049],
       [0.01541158],
       [0.08275929],
       [0.01571255],
       [0.05182215],
       [0.03035158],
       [0.01541158],
       [0.05953204],
       [0.08115719],
       [0.29953885],
       [0.06104473],
       [0.01376068],
       [0.03025399],
       [0.01512699],
       [0.01571255],
       [0.12687155],
       [0.02810693],
       [0.03142511],
       [0.07612293],
       [0.02049464],
       [0.02821272],
       [0.10257897],
       [0.03072575],
       [0.01533038],
       [0.03142511],
       [0.063086  ],
       [0.02410559],
       [0.15216447],
       [0.01541158],
       [0.0150944 ],
       [0.0585561 ],
       [0.01376888],
       [0.05953204],
       [0.        ],
       [0.05445717],
       [0.02537431],
       [0.01546857],
       [0.05123659],
       [0.07746484],
       [0.03142511],
       [0.01533038],
       [0.13526459],
       [0.05445717],
       [0.11027246],
       [0.0375897 ],
       [0.14976542],
       [0.01541158],
       [0.06929139],
       [0.01473662],
       [0.01473662],
       [0.01541158],
       [0.04489301],
       [0.01646071],
       [0.01528158],
       [0.01317512],
       [0.14346245],
       [0.01541158],
       [0.03025399],
       [0.02537431],
       [0.22109808],
       [0.26086743],
       [0.01410226],
       [0.04994347],
       [0.01463083],
       [0.01546857],
       [0.14346245],
       [0.02537431],
       [0.01517579],
       [0.01571255],
       [0.10149724],
       [0.07612293],
       [0.10149724],
       [0.02049464],
       [0.02537431],
       [0.        ],
       [0.01517579],
       [0.01571255],
       [0.01920972],
       [0.0915427 ],
       [1.        ],
       [0.01588334],
       [0.14976542],
       [0.018006  ],
       [0.0915427 ],
       [0.07612293],
       [0.08115719],
       [0.07746484],
       [0.01985208],
       [0.01521639],
       [0.41250333],
       [0.11125659],
       [0.02618765],
       [0.11027246],
       [0.01410226],
       [0.05182215],
       [0.02635025],
       [0.01571255],
       [0.0150944 ],
       [0.21642979],
       [0.01493181],
       [0.44409922],
       [0.05130978],
       [0.02821272],
       [0.01511079],
       [0.01533038],
       [0.05074862],
       [0.02635025],
       [0.05130978],
       [0.2958059 ],
       [0.02975782],
       [0.09662576],
       [0.05182215],
       [0.10149724],
       [0.01851017],
       [0.02537431],
       [0.01493181],
       [0.44409922],
       [0.02049464],
       [0.03025399],
       [0.01517579],
       [0.06441171],
       [0.01376888],
       [0.02537431],
       [0.02537431],
       [0.1036443 ],
       [0.01690807],
       [0.04098927],
       [0.01510259],
       [0.05074862],
       [0.01546857],
       [0.41250333],
       [0.03667076],
       [0.        ],
       [0.02537431],
       [0.02537431],
       [0.03142511],
       [0.06709553],
       [1.        ],
       [0.01541158],
       [0.01541158],
       [0.0585561 ],
       [0.15390495],
       [0.51212189],
       [0.03142511],
       [0.01546857],
       [0.13858277],
       [0.03952537],
       [0.02537431],
       [0.1036443 ],
       [0.01512699],
       [0.04489301],
       [0.02434958],
       [0.01854277],
       [0.01541158],
       [0.12687155],
       [0.02830212],
       [0.01521639],
       [0.02244651],
       [0.01571255],
       [0.16883676],
       [0.02830212],
       [0.01390707],
       [0.01411046],
       [0.2342244 ],
       [0.01517579],
       [0.15216447],
       [0.07729405],
       [0.01512699],
       [0.04713766],
       [0.01632251],
       [0.01854277],
       [0.01533038],
       [0.02049464],
       [0.01410226],
       [0.04489301],
       [0.01512699],
       [0.01512699],
       [0.02434958],
       [0.01510259],
       [0.41250333],
       [0.01411046],
       [0.11125659],
       [0.0585561 ],
       [0.04577135],
       [0.01376068],
       [0.01415106],
       [0.01463083],
       [0.05684821],
       [0.04015973],
       [0.1545881 ],
       [0.01512699],
       [0.05074862],
       [0.13575256],
       [0.05991421],
       [0.01541158],
       [0.02537431],
       [0.05061043],
       [0.01694867],
       [0.01411046],
       [0.04713766],
       [0.02537431],
       [0.05123659],
       [0.2342244 ],
       [0.01662349],
       [0.01361429],
       [0.01517579],
       [0.        ],
       [0.01517579],
       [0.02537431],
       [0.1036443 ],
       [0.01539537],
       [0.04713766],
       [0.02049464],
       [0.06104473],
       [0.01571255],
       [0.        ],
       [0.01546857],
       [0.07222739],
       [0.01258956],
       [0.05445717],
       [0.18249985],
       [0.01690807],
       [0.        ],
       [0.02434958],
       [0.07746484],
       [0.0135655 ],
       [0.11027246],
       [0.07222739],
       [0.01512699],
       [0.1561496 ],
       [0.02821272],
       [0.03659756],
       [0.01411046],
       [0.01533038],
       [0.01620052],
       [0.16231419],
       [0.01690807],
       [0.01571255],
       [0.11027246],
       [0.05797054],
       [0.01546857],
       [0.02049464],
       [0.06050797],
       [0.01256516],
       [0.01690807],
       [0.01473662],
       [0.13575256],
       [0.01541158],
       [0.06441171],
       [0.17391982],
       [0.06104473],
       [0.01517579],
       [0.02975782],
       [0.07690368],
       [0.05074862],
       [0.01824998],
       [0.32179837],
       [0.05182215],
       [0.0375897 ],
       [0.01411046],
       [0.02753757],
       [0.02244651],
       [0.05061043],
       [0.13575256],
       [0.02537431],
       [0.02537431],
       [0.0270496 ],
       [0.09856124],
       [0.01854277],
       [0.02173075],
       [0.01541158],
       [0.10257897],
       [0.00975935],
       [0.01756683],
       [0.04684488],
       [0.01410226],
       [0.01921772],
       [0.01541158],
       [0.01541158],
       [0.16231419],
       [0.05074862],
       [0.01541158],
       [0.02052723],
       [0.02049464],
       [0.01376068],
       [0.05684821],
       [0.02537431],
       [0.0585561 ],
       [0.04577135],
       [0.0585561 ],
       [0.01512699]])